@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-gray: #A4A0A0;
    --color-active: #FC7361;
    --color-second: #484134;
    --color-light: #f9f9f9;
    --color-red: #FF2C0C;
    --color-yellow: #FFDB0C;
}


@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 10px;
  }

  .scrollbar-custom-white::-webkit-scrollbar-track {
    background: #fff !important;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #FC7361;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  @media (min-width: 768px) {
    .scrollbar-custom::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}