@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --breakpoint-xs: 375px;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-gray: #A4A0A0;
    --color-active: #FC7361;
    --color-second: #484134;
    --color-dark: #212121;
    --color-light: #f9f9f9;
    --color-red: #FF2C0C;
    --color-yellow: #FFDB0C;
}


@layer utilities {

  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #f9f9f9 !important; /* цвет фона, например белый */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 1rem !important;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  .scrollbar-custom-white::-webkit-scrollbar-track {
    background: transparent !important;
  }
  .scrollbar-custom-gray::-webkit-scrollbar-track {
    background: #e6e6e6 !important;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #FC7361;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .tooltip .tooltip-text {
    visibility: hidden;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 200px;
    color: #fff;
    text-align: center;
    padding: 6px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
  }
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .emojiPicker {
    right: 0 !important;
    left: auto !important;
    transform: translate(0, -100%) !important;
  }
  .emojiPickerIconWrap {
    display: block !important;
  }
  .emojiPickerIconWrap textarea {
    padding-right: 0 !important;
  }

  .ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
    background: #f9f9f9;
    border: none !important;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 5px;
  }

  .ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #FC7361 !important;
    stroke: #FC7361 !important;
    fill: #FC7361 !important;
  }

  .ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #FC7361 !important;
  }

  .ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: #FC7361 !important;
  }

  .ql-editor.ql-blank::before {
    max-width: 85%;
  }

  .ql-snow .ql-editor h1,
  .ql-snow .ql-editor h2,
  .ql-snow .ql-editor h3,
  .ql-snow .ql-editor h4,
  .ql-snow .ql-editor h5,
  .ql-snow .ql-editor h6 {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  .ql-size-large {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }

  .ql-size-small {
    font-size: .75rem !important;
    line-height: 1.25rem !important;
  }

  .user-custom-text p {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  .user-custom-text h1,
  .user-custom-text h2,
  .user-custom-text h3,
  .user-custom-text h4,
  .user-custom-text h5,
  .user-custom-text h6 {
    margin: 10px 0 !important;
  }

  .user-custom-text img {
    display: inline-block !important;
    margin: 10px 0 !important;
  }

  .articles-catalogue .ql-size-large,
  .articles-catalogue .ql-size-small,
  .articles-catalogue .user-custom-text p,
  .articles-catalogue .user-custom-text h1,
  .articles-catalogue .user-custom-text h2,
  .articles-catalogue .user-custom-text h3,
  .articles-catalogue .user-custom-text h4,
  .articles-catalogue .user-custom-text h5,
  .articles-catalogue .user-custom-text h6 {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    margin: 5px 0 !important;
    color: #A4A0A0 !important;
  }


  @media(max-width: 375px) {
    .ql-size-large {
      font-size: 1.25rem !important;
      line-height: 1.75rem !important;
    }

    .ql-size-small {
      font-size: .5rem !important;
      line-height: 1rem !important;
    }

    .user-custom-text p {
      font-size: 1rem !important;
      line-height: 1.5rem !important;
    }
  }
}