@media (min-width: 992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1264px;
    }
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

body {
    background-color: #fff;
}

.liked svg {
    fill: #ff2c0c !important;
}

.liked .liked-success {
    display: block !important;
}

.liked .liked-fail {
    display: none !important;
}

.swiper-slide .item {
  height: 100%;
}

.favorite_products .swiper-wrapper {
  align-items: stretch;
  min-height: 324px;
}

.custom-section p {
    padding: 10px 0;
    margin-bottom: 10px;
}

.price-input {
    outline: 0;
    width: 100%;
    color: var(--gray, #a4a0a0);
}

.trending_cards .swiper-wrapper {
    align-items: stretch;
}

.trending_cards .swiper-slide .item {
    height: 100%;
}

.custom-section h1,
.custom-section h2,
.custom-section h3,
.custom-section h4,
.custom-section h5,
.custom-section h6 {
    margin-bottom: 20px;
}

figcaption {
    display: none;
}

.collapse.show {
    visibility: visible;
}

.print-content > * {
    font-weight: normal !important;
    font-size: inherit !important;
    color: inherit !important;
    margin-top: 0 !important;
    color: #a4a0a0 !important;
    transition: 0.3s !important;
}

.print-content.hover-text-black:hover > * {
    color: #000 !important;
}

header {
    position: -webkit-sticky;
    position: sticky;
}

header .about_block .right_group_block .rection_groups span {
    min-width: 21px;
}

.in-cart {
  background: #A4A0A0 !important;
}

.in-cart:hover {
  box-shadow: none !important;
  cursor: auto !important;
}

.cart-drop {
  color: #A4A0A0;
  transition: color 0.3s;
}

.cart-drop:hover {
  color: #FC7361;
}

.home {
    position: relative;
    background: none;
    overflow: hidden;
    background-color: #000;
    /* background-position: top center; */
    /* background-size: auto 100%; */
}

.search_icon {
    line-height: 0;
}

.breadcrumb-item a {
    transition: 0.3s;
}
.breadcrumb-item:hover a {
    color: #fff !important;
}

.product_page_home .breadcrumb-item:hover a {
  color: #000 !important;
}

.placing_order .breadcrumb-item:hover a {
  color: #000 !important;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax.parallax-custom {
    background-size: cover !important;
    background-position: center !important;
}

.parallax-home {
    opacity: 0.9;
    background-image: url(../img/bg_home.png);
}

.parallax-favorite {
    background-image: url(../img/home_favorites.png);
}

.parallax-help {
    background-image: url(../img/bg_help_center.png);
}

.parallax-insights {
    background-image: url(../img/bg_home_tips.png);
}

.parallax-products {
    background-image: url(../img/home_discover.png);
}

.popular_products .about_block .products_item .item {
    max-width: none;
}

.popular_products .about_block .products_item .item .img_products .main_img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.popular_products .about_block .products_item .item .img_products .to_basket {
    max-width: 204px;
    width: 90%;
    left: 50%;
}

.why_need_baby_monitor .about_block .left_text {
    flex-basis: 50%;
}

.ma-main-img {
    flex-basis: 50%;
}

.why_need_baby_monitor .about_block .img_main {
    width: 100% !important;
    max-width: 100% !important;
}

.popular_products .about_block .products_item .item:last-child {
    display: flex;
}

.profile_img {
    width: 45px;
    height: 45px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    max-width: none;
}

footer .bottom_connecting_group .connecting .second_connect:hover svg g path {
    fill: #000;
}

footer .top_menu_group h3 {
    color: var(--white, #fff);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.footer-arrow {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.footer-arrow__active {
    transform: rotate(0deg);
}

.footer-arrow__active path {
    fill: #fff;
}

aside .search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0 40px;
    padding: 9px 15px;
    border-radius: 8px;
    background: var(--bg, #f9f9f9);
    height: 50px;
    transition: 0.5s all ease;
}
aside .search:hover label svg circle {
    stroke: #fc7361;
}
aside .search:hover label svg path {
    stroke: #fc7361;
}
aside .search label {
    /* display: contents; */
    cursor: pointer;
}
aside .search input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--gray, #a4a0a0);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--black, #212121);
}
aside .search input::-moz-placeholder {
    color: var(--gray, #a4a0a0);
}
aside .search input::-webkit-input-placeholder {
    color: var(--gray, #a4a0a0);
}
aside .search input:-ms-input-placeholder {
    color: var(--gray, #a4a0a0);
}
aside::-ms-input-placeholder {
    color: var(--gray, #a4a0a0);
}
aside::-moz-placeholder {
    color: var(--gray, #a4a0a0);
}
aside::-webkit-input-placeholder {
    color: var(--gray, #a4a0a0);
}
aside:-ms-input-placeholder {
    color: var(--gray, #a4a0a0);
}
aside::placeholder {
    color: var(--gray, #a4a0a0);
}

aside .mob_menu li {
    margin-bottom: 20px;
}

aside .mob_menu li a {
    color: var(--gray, #a4a0a0);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .profile .right_text .name h3 {
    color: var(--black, #212121);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

aside .profile img {
    width: 45px;
}

aside .bottom_connect_group a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 0;
    color: var(--black, #212121);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

aside .login {
    color: var(--black, #212121);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

aside .login svg {
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    background: var(--bg, #f9f9f9);
}

.results_seach {
    padding: 30px 0;
}

.tips_news_group {
    padding: 30px 0;
}

.about_block .input_group .search_icon svg {
    padding: 13px !important;
    width: 42px !important;
    height: 42px !important;
}

.home_tips .about_block .input_group {
    gap: 10px;
}

.tips_news_group .about_block .item_group .cards_group .main_img {
    -o-object-fit: cover;
    object-fit: cover;
}

.tips_news_group .about_block .item_group {
    width: auto;
    flex-basis: 78%;
}
.tips_news_group .about_block .last_news {
    width: auto;
    flex-basis: 18%;
}

.tips_news_group .about_block .last_news .block_news_items .news_group img {
    width: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
}

.all-policies ol {
    padding: 0;
}

.all-policies a {
    display: inline-block;
    color: var(--gray, #a4a0a0);
    font-size: 18px;
    font-style: normal;
    line-height: 140%;
    text-decoration: none !important;
    font-weight: 500;
    margin-bottom: 10px;
    transition: 0.3s;
}

.all-policies a:hover {
    color: var(--main, #fc7361);
}

.all-policies a span {
    text-decoration: none !important;
}

.feed-item .profile img {
    border-radius: 50%;
}

.feed-item .commend .img_men img {
    border-radius: 50%;
}

#feed .feed-item .similar_materials .cards_group {
    width: 100%;
}

#feed .feed-item .similar_materials .main_img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.feed-item textarea {
    min-height: 24px;
}

.comment_mobile_header {
    display: none;
    font-size: 16px;
    align-self: flex-start;
}

.error .about_block .error_img {
    width: 100%;
    max-width: 690px;
    height: auto;
}

.results_seach .result_cards .profile_commendor {
    flex-grow: 1 !important;
}

.results_seach .result_cards .profile_commendor .right_text {
    width: auto !important;
    max-width: 700px;
}

.results_seach .result_cards .left_title {
    width: 50px;
}

.search_result_home .about_block .name_tags {
    width: auto;
    margin: 0 !important;
}

.search_result_home {
    padding: 50px 0 !important;
    background-image: none;
    background-color: #000;
}

.parallax-search {
    opacity: 0.6;
    background-color: #000;
    background-image: url(../img/search_result_mobile.jpeg);
}

.search_result_home .about_block .input_group {
    max-width: 800px;
    margin: 0 auto;
}

.search_result_home .about_block .name_tags a {
    padding: 6px 12px;
}

.results_seach .about_block .result_cards .card_group .profile_commendor {
    flex-basis: 77%;
}

.result_cards .right_group_for_mob {
    flex-basis: 14%;
}

.results_seach .result_cards .img_profile {
    max-width: none;
}

.comment-link {
    color: var(--gray, #a4a0a0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-bottom: 1px dashed var(--gray, #a4a0a0);
    transition: 0.5s all ease;
}

.comment-link:hover {
    border-bottom: 1px dashed var(--main, #fc7361);
    color: var(--main, #fc7361);
    cursor: pointer;
}

.comments_group
    .about_block
    .block_commends
    .commends_group
    .commend
    .right_text_group
    .likes {
    justify-content: flex-start;
    gap: 8px;
}

.article-preview {
    height: 260px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

#swiper-articles .article-preview img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.author-link {
    color: var(--gray, #a4a0a0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    transition: 0.3s;
}

.author-link:hover {
    color: #000 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.news .about_block .items_news .item img {
    -o-object-fit: cover;
    object-fit: cover;
}

.emoji-button:hover path {
    fill: black;
    transition: 0.3s;
}

.emojiPickerIconWrap {
    flex-grow: 1;
}

.emojiPickerIconWrap textarea {
    width: 100% !important;
}

.search_results a {
    color: var(--gray);
}

.search_results span:hover a {
    color: #fff;
}
.filter_products
    .about_block
    .filter_products_group
    .filter
    .accordion-body
    .accordion-flush
    .accordion-body
    .price
    p {
    margin-bottom: 15px;
}
.filter_products
    .about_block
    .filter_products_group
    .filter
    .accordion-body
    .accordion-flush
    .accordion-body
    .price
    .slider-container
    .block_input {
    margin-bottom: 15px;
}

.filter_products
    .about_block
    .filter_products_group
    .filter
    .accordion-body
    .accordion-flush
    .accordion-body
    .stars_filter
    .stars
    span.hover
    svg
    path {
    fill: #ffdb0c;
}

.filter_products
    .about_block
    .filter_products_group
    .filter
    .accordion-body
    .accordion-flush
    .accordion-body
    .stars_filter
    .stars {
    gap: 0 !important;
}
.filter_products
    .about_block
    .filter_products_group
    .filter
    .accordion-body
    .accordion-flush
    .accordion-body
    .stars_filter
    .stars
    span {
    padding: 0 10px;
}

.filter_products .about_block .filter_products_group .filter {
    min-width: 300px;
    width: auto;
}


.filter_products .about_block .trending_cards .products_item .item .img_products .to_basket {
  max-width: 90%;
}

.filter_products .about_block .trending_cards .products_item .item {
  max-width: none !important;
}
.filter_products .about_block .trending_cards .products_item .item .img_products .main_img {
  width: 100%;
  height: 240px !important;
}

/* .favorite-button svg {
  transition: fill 0.3s !important;
}

.favorite-button:hover svg {
  fill: transparent !important;
}

.favorite-button:hover {
  background: rgba(249, 249, 249, 0.5) !important;
} */

.favorites-content {
  min-height: 520px;
}

.favorite-active {
  background: var(--bg, #f9f9f9) !important;
}

.favorite-active svg {
  fill: #ff2c0c !important;
}

.filter_products .about_block .filter_products_group .right_products_filter .filter_cards_group .item .img_products .to_basket {
  max-width: 90%;
}

.filter_products .about_block .filter_products_group .right_products_filter .filter_cards_group {
  justify-content: flex-start;
}

.products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group {
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1%;
  /* display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch; */
}

.products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group .item {
  max-width: none;
  flex-basis: 19.2%;
  /* flex-grow: 1; */
}

.products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group .item .img_products .main_img {
  width: 100%;
  max-width: none;
}

.products_favorite .about_block .sections_menu .favorite_products .products_item .item {
  max-width: none !important;   
}

.products_favorite .about_block .sections_menu .favorite_products .products_item .item .img_products .main_img {
  width: 100% !important;
}
.products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group .item .img_products .to_basket {
  max-width: 90%;
}

.frequently_bought .about_block .frequently_cards .products_item .item .img_products .to_basket {
  max-width: 90%;
}

.frequently_cards .swiper-wrapper {
  align-items: stretch;
}

.commends_product_page .about_block .block_commends .commends_group:first-child::after {
  height: 55%;
  top: 34%;
  left: 33px;
}

.placing_order .about_block .right_orders .items_group .item .order_img {
  -o-object-fit: cover;
     object-fit: cover;
}

.placing_order .about_block .right_orders .items_group .item .description_orders .title_description h4 a {
  color: #000;
  transition: color 0.3s;
}

.placing_order .about_block .right_orders .items_group .item .description_orders .title_description h4 a:hover {
  color: #fc7361;
}

.empty-block h2 {
  color: var(--black, #212121);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 40px;
}

.empty-block .bottom_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.empty-block .bottom_text .discover {
  color: var(--white, #FFF);
  border-radius: 4px;
  background: var(--main, #FC7361);
}

.empty-block .bottom_text .connect {
  color: var(--black, #212121);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--main, #FC7361);
  background: var(--white, #FFF);
  transition: 0.5s all ease;
}

.empty-block .top_group_fav {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.empty-block .bottom_text a {
  color: var(--black, #212121);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--main, #FC7361);
  background: var(--white, #FFF);
  transition: 0.5s all ease;
}

.empty-cart {
  max-width: 1000px;
  margin: 0 auto;
}

.placing_order .about_block .left_form {
  min-width: auto !important;
  width: 100%;
}

.text_cost span {
  color: inherit !important;
}

.product_page_home .about_block .information_product .bottom_informations .text_inf h4 {
  flex-basis: 50%;
}

.product_page_home .about_block .information_product .bottom_informations .text_inf p {
  flex-basis: 50%;
  text-align: right;
}

@media (min-width: 1140px) {
}

@media screen and (min-width: 768px) {
    .filter_products .filter {
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        left: 0;
        max-height: 85vh;
        overflow: scroll;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .popular_products .about_block .products_item .item:last-child,
    .popular_products .about_block .products_item .item:nth-child(9) {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .popular_products .about_block .products_item .item:nth-child(9) {
        display: flex;
    }
}

@media (min-width: 710px) and (max-width: 1024px) {
    .parallax-insights {
        background-size: 100% auto !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: none;
    }
}

@media (min-width: 730px) {
    .parallax-search {
        background-size: 100% auto !important;
        /* background-position: center -20vw !important; */
    }
}

@media (min-width: 730px) {
    .parallax-search {
        background-position: center -15vw !important;
    }
}

@media (min-width: 1600px) {
    .parallax-search {
        background-position: center -25vw !important;
    }
}

@media (max-width: 1400px) {
    header.authorized .about_block .right_group_block .search {
        max-width: 300px;
    }
}

@media (min-width: 2400px) {
    .parallax-insights {
        background-size: contain !important;
    }
}

@media (min-width: 768px) {
    #last_news_swiper .swiper-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    #last_news_swiper .swiper-slide {
        width: 100% !important;
    }

    .authors_blogers
        .about_block
        .group_authors
        .cards_group
        .img_products
        .main_img {
        width: 100%;
    }
}

@media (min-width: 550px) and (max-width: 768px) {
    .parallax-help {
        background-size: 100% auto !important;
    }
}

@media (min-width: 560px) and (max-width: 768px) {
    .parallax-search {
        background-size: 100% auto !important;
    }
}

@media (max-width: 1400px) {
    .filter_products
        .about_block
        .filter_products_group
        .right_products_filter
        .filter_cards_group
        .item {
        max-width: none;
        flex-basis: 32%;
    }

    .filter_products .about_block .filter_products_group .right_products_filter .filter_cards_group {
      gap: 2%;
    }

    .filter_products
        .about_block
        .filter_products_group
        .right_products_filter
        .filter_cards_group
        .item
        .img_products
        .main_img {
        width: 100%;
        height: 240px;
    }
}

@media (max-width: 1260px) {
    .tips_news_group .about_block .last_news {
        flex-basis: 20%;
    }
    .tips_news_group .about_block .item_group {
        flex-basis: 77%;
    }

    .feed-item .name_articles .about_block {
        gap: 20px;
    }

    .feed-item .left_name_text {
        flex-basis: 75%;
    }

    .feed-item .last_news {
        flex-basis: 25%;
    }

    .authorization_header .about_block .right_group_block .search {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    header .about_block .right_group_block .profile .right_text {
        display: none;
    }

    header .about_block .right_group_block .profile .right_text .name h3 {
        display: none;
    }

    .results_seach .about_block .result_cards .card_group .profile_commendor {
        flex-basis: 70%;
    }

    .result_cards .right_group_for_mob {
        flex-basis: 20%;
    }

    .frequently_bought .about_block .frequently_cards .products_item .item {
      max-width: none !important;
    }

    .frequently_bought .about_block .frequently_cards .products_item .item .img_products .main_img {
      width: 100%;
    }

    .products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group .item {
      
    }
}

@media (max-width: 1140px) {
  .favorite-button:hover svg {
    fill: transparent !important;
  }
  .favorite-button:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }


  .favorite-button.favorite-active:hover svg {
    fill: #ff2c0c !important;
  }
  .favorite-button.favorite-active:hover {
    background-color: #fff !important;
  }
  

  .favorite-active svg {
    fill: #ff2c0c !important;
  }
  .favorite-active {
    background-color: #fff !important;
  }
  
}

@media (max-width: 1024px) {
    .home {
        padding: 80px 0 !important;
    }

    .authors_blogers .about_block .group_authors .cards_group {
        width: auto;
    }

    footer .menu_bottom ul {
        display: none;
    }

    footer .top_menu_group ul li {
        display: block;
    }

    header .menu {
        display: none;
    }

    header .about_block .right_group_block .hamburger-menu {
        position: relative;
        min-width: 48px;
        min-height: 48px;
    }
    #mobile_menu {
        padding: 10px 20px;
    }

    .menu__btn {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .menu__btn.menu_open {
        top: 0;
        right: 0;
        transform: translate(12px, 23px);
    }

    .menu__btn.menu_open {
        position: absolute;
        padding: 0;
        width: 36px;
        height: 36px;
        background-color: transparent;
    }
    .menu__btn.menu_open > span {
        transform: rotate(45deg);
    }
    .menu__btn.menu_open > span::before {
        top: 0;
        transform: rotate(deg);
    }
    .menu__btn.menu_open > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    .menu__btn {
        right: 0;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 200;
        padding: 24px 12px;
        border-radius: 6px;
        background: var(--bg, #f9f9f9);
        transform: translate(0, 0);
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: var(--gray, #a4a0a0);
        transition-duration: 0.25s;
    }
    .menu__btn > span::before {
        content: "";
        top: -8px;
    }
    .menu__btn > span::after {
        content: "";
        top: 8px;
    }

    header.authorized .about_block .right_group_block .search {
        max-width: none;
    }

    .parallax-insights {
        background-image: url(../img/insights_tablet.jpeg) !important;
        opacity: 0.5;
    }

    .home_tips {
        background-image: none;
        background-color: #000;
    }

    .tips_news_group .about_block .item_group {
        flex-basis: 70%;
    }

    .tips_news_group .about_block .item_group .cards_group .main_img {
        max-width: none !important;
    }

    .tips_news_group .about_block .last_news {
        flex-basis: 28%;
        max-width: none;
    }

    .feed-item .about_block .last_news {
        max-width: none;
    }

    .results_seach .result_cards .card_group {
        width: 100% !important;
    }

    .popular_products .about_block .products_item {
        align-items: stretch;
    }

    .filter_products
        .about_block
        .filter_products_group
        .filter
        .accordion-body
        .accordion-flush
        .accordion-body
        .stars_filter
        .stars
        span {
        padding: 0 2px;
    }

    .filter_products
        .about_block
        .filter_products_group
        .right_products_filter {
        max-width: none;
    }

    .filter_products .about_block .filter_products_group .filter {
        min-width: 240px;
    }

    .filter_products
        .about_block
        .filter_products_group
        .right_products_filter
        .filter_cards_group
        .item {
          flex-basis: 49%;
    }

    .products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group {
      gap: 2%;
      justify-content: flex-start;
    }

    .products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group .item {
      max-width: none !important;
      width: auto;
      flex-basis: 32%;
    }
    .products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group .item .img_products .main_img {
      width: 100%;
    }

    .placing_order .about_block {
      flex-direction: row;
    }
    .product_page_home {
      padding: 50px 0;
    }
}

@media (max-width: 992px) {
    .why_need_baby_monitor .about_block .img_main {
        height: 100%;
    }

    header.authorized .about_block .right_group_block .search {
        max-width: none;
    }

    .empty-block .top_group_fav {
      flex-direction: column;
    }

    .placing_order .about_block {
      flex-direction: column;
    }
    .placing_order .about_block .left_form,
    .placing_order .about_block .right_orders {
      max-width: none;
    }

    .placing_order {
      padding: 50px 0;
    }

    .placing_order .about_block .right_orders {
      height: auto;
    }
}

@media (max-width: 850px) {
    /* .filter_products
        .about_block
        .filter_products_group
        .right_products_filter
        .filter_cards_group
        .item {
        max-width: 47%;
    } */
}

@media (max-width: 768px) {
    .why_need_baby_monitor .about_block {
        width: 100%;
    }
    .why_need_baby_monitor .img_main {
        -o-object-fit: cover;
        object-fit: cover;
    }
    .cards-wrap::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .popular_products .about_block .products_item .item {
        width: 100%;
    }

    .home {
        padding: 70px 0 !important;
    }

    .parallax-home {
        background-image: url(../img/bg_home_mobile.jpeg) !important;
        opacity: 0.6;
    }

    .popular_products
        .about_block
        .products_item
        .item
        .img_products
        .main_img {
        min-height: 204px;
    }

    .news .about_block .items_news .item img {
        -o-object-fit: cover;
        object-fit: cover;
    }

    .authors_blogers .swiper-button-next,
    .authors_blogers .swiper-button-prev {
        display: none;
    }

    footer .menu_bottom ul {
        display: flex;
    }

    footer .top_menu_group ul {
        display: none;
    }

    footer .top_menu_group ul li {
        margin-bottom: 18px;
    }

    .profile_img {
        width: 45px;
    }

    #last_news_swiper {
        overflow: scroll;
    }

    #last_news_swiper.swiper-initialized {
        overflow: hidden;
    }

    #last_news_swiper .swiper-slide {
        width: auto;
        margin-right: 10px;
    }

    #last_news_swiper .swiper-slide .news_group {
        height: 100%;
    }

    #last_news_swiper .swiper-slide .news_group a:first-child {
        margin-bottom: auto;
    }

    .tips_news_group .about_block .last_news {
        max-width: 100%;
    }

    .tips_news_group .about_block .last_news .block_news_items .news_group {
        width: 100%;
        max-width: 220px;
    }

    .tips_news_group .about_block .item_group .cards_group {
        width: auto;
    }

    .name_articles {
        padding: 50px 0;
    }

    .name_articles .about_block .left_name_text .theme_articles p {
        font-size: 14px;
    }

    .name_articles .about_block .left_name_text .theme_articles h4,
    .name_articles .about_block .left_name_text .theme_articles h3 {
        font-size: 24px;
    }

    .name_articles .about_block .left_name_text h2 {
        font-size: 26px;
    }

    .home_help {
        padding: 90px 0 70px;
        background-image: none;
        background-color: #000;
    }

    .parallax-help {
        background-image: url(../img/help_mobile.jpeg) !important;
        opacity: 0.4;
    }

    .general_questions .last_news .news_group {
        width: 100% !important;
    }

    .general_questions .last_news .block_news_items .news_group img {
        width: 100% !important;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .comment_mobile_header {
        display: block;
    }

    .feed-item .comments_group .write_comment h3 {
        display: none;
    }

    .parallax-search {
        background-image: url(../img/search_result_mobile.jpeg) !important;
        opacity: 0.6;
    }

    .search_result_home {
        background-image: none;
    }

    .results_seach .result_cards .left_title {
        width: auto;
    }

    .results_seach .about_block .result_cards .card_group .profile_commendor {
        align-items: flex-start;
    }

    .results_seach .about_block .result_cards .card_group .profile_commendor {
        flex-basis: auto;
    }

    .result_cards .right_group_for_mob {
        flex-basis: auto;
    }

    .results_seach
        .about_block
        .result_cards
        .card_group
        .right_group_for_mob
        .mob {
        flex-basis: 71.5px;
    }

    .results_seach
        .about_block
        .result_cards
        .card_group
        .right_group_for_mob
        .right_reviews_group {
        width: auto;
        flex-grow: 1;
    }

    .name_articles .about_block .last_news .block_news_items .news_group img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .name_articles #last_news_swiper .swiper-slide .news_group {
        width: 100%;
    }

    .popular_products
        .about_block
        .products_item
        .item
        .img_products
        .main_img {
        height: 260px;
    }

    .comments_group
        .about_block
        .block_commends
        .commends_group
        .commend
        .right_text_group
        .likes
        .left_groups_like
        .like_commend
        a:hover
        svg:last-child {
        display: initial;
    }
    .comments_group
        .about_block
        .block_commends
        .commends_group
        .commend
        .right_text_group
        .likes
        .left_groups_like
        .like_commend
        a:hover
        svg:first-child {
        display: initial;
    }

    .feedback_button svg {
        fill: transparent !important;
    }

    .like_to_commend .liked-success {
        display: none !important;
    }

    .like_to_commend .liked-fail {
        display: block !important;
    }

    .liked svg {
        fill: #ff2c0c !important;
    }

    .liked .liked-success {
        display: block !important;
    }

    .liked .liked-fail {
        display: none !important;
    }

    .filter_products .about_block .search_filter .search_top .search_input {
        width: 100% !important;
    }

    .filter_products .about_block .search_filter .search_top {
        flex-wrap: nowrap;
    }

    .filter_products .about_block .filter_products_group .filter {
        width: 100%;
    }

    .placing_order .container {
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
    }
}

@media (max-width: 576px) {
    .articles .about_block .block_cards .item {
        width: 290px;
    }

    .tips_news_group .about_block .last_news .block_news_items .news_group {
        max-width: 270px;
    }

    .authors_blogers
        .about_block
        .group_authors
        .cards_group
        .img_products
        .main_img {
        width: 100%;
    }

    .popular_products
        .about_block
        .products_item
        .item
        .img_products
        .main_img {
        height: 60vw;
    }

      .filter_cards_group
        .item {
        width: 47% !important;
        max-width: none !important;
    }
      .favorite_cards_group
        .item {
        width: 47% !important;
        max-width: none !important;
    }

      .filter_cards_group
        .item
        .img_products
        .main_img {
        width: 100% !important;
    }
      .favorite_cards_group
        .item
        .img_products
        .main_img {
        width: 100% !important;
    }

    .filter_products .about_block .search_filter .search_top {
      flex-wrap: wrap;
    }

    .filter_products .about_block .search_filter .search_top .search_input {
      width: auto !important;
      flex-basis: calc(100% - 71px);
    }
    .products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group {
      justify-content: flex-start;
    }

    .products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group .item {
      flex-basis: 49%;
    }
}

@media (max-width: 460px) {
  .item .stars_block {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
}

@media (max-width: 420px) {
    .popular_products .about_block .products_item {
        gap: 10px;
    }

    .empty-block .bottom_text {
      flex-direction: column;
    }
}

@media (max-width: 375px) {
    .filter_products
        .about_block
        .filter_products_group
        .right_products_filter
        .filter_cards_group
        .item {
        flex-basis: 100%;
    }

    .products_favorite .about_block .sections_menu .top_group_fav .favorite_cards_group .item {
      flex-basis: 100%;
    }

    .popular_products .about_block .products_item {
      -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
    }

    .placing_order .about_block .right_orders .items_group .item {
      flex-direction: column;
    }
    .placing_order .about_block .right_orders .items_group .item .order_img {
      width: 100%;
    }
}
